[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

table {
  font-size: 13px;
  border-collapse: collapse;
}

th {
  padding: 10px 8px;
}

td {
  border-top: 1px solid #eee;
  padding: 8px;
  vertical-align: top;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  white-space: nowrap;
}